onlineshopping/src/main/mule/onlineshopping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="af2d084e-56ee-41a5-ba7c-877462cb8eaf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
<flow name="products" doc:id="a64e1079-7968-4a32-ac00-ef78ec85a557" >
		<http:listener doc:name="Listener" doc:id="3b473ea6-6374-4077-b411-737928a1f335" config-ref="HTTP_Listener_config" path="/products"/>
		<ee:transform doc:name="Transform Message" doc:id="74378fdb-deb9-4500-a592-12411683257d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "categoryid": 0,
    "description": "laptop",
    "name": "HP laptop",
    "price": 0,
    "productid": 0,
    "video_url": "http://hp.com/latops"
  },
    {
    "categoryid": 1,
    "description": "laptop",
    "name": "DELL laptop",
    "price": 0,
    "productid": 101,
    "video_url": "http://dell.com/latops"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="da934ede-5161-4b9a-8046-04848e664e4c" message="#[payload]"/>
	</flow>
	
		<flow name="productid" doc:id="65633180-c4d8-4ca6-8cb8-fe45966275fe" >
		<http:listener doc:name="Listener" doc:id="29c4b47f-9532-47bc-b8d3-757f82392ce5" config-ref="HTTP_Listener_config" path="/products/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="e66e9ac5-c310-46c9-bab4-56d363d7d7cd" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="4a099882-84b1-4620-a2e4-49fb07ebbb7d" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="9cadaf83-7a6b-4884-9801-2df349288cba" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 {
    "categoryid": 0,
"description": "laptop",
"name": "HP laptop",
"price": 0,
"productid": 0,
"video_url": "http://hp.com/latops"
  }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="85f5eb61-1889-41e8-a4e4-8fa5604a72d4" message="#[payload]"/>
	</flow>
	
	<flow name="users" doc:id="33c7398a-63a5-42b3-b0c3-1c2a5334c548" >
		<http:listener doc:name="Listener" doc:id="ccd0ed23-78de-4e28-a802-591019424cd8" config-ref="HTTP_Listener_config" path="/users"/>
		<ee:transform doc:name="Transform Message" doc:id="c6f94af0-48e4-40d8-b43b-c2b20eca3bcc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
{
  "email": "imyonet@gmail.com",
  "username": "yoyo12",
  
  "email": "imyonet@gmail.com",
  "username": "yoyo12"
}

]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="df124cff-e661-47fc-89eb-26d0fa99c1a1" message="#[payload]"/>
	</flow>
	<flow name="userid" doc:id="0ab62789-18f3-4249-b3f9-c4e7dc13010d" >
		<http:listener doc:name="Listener" doc:id="eb72eacb-3645-40fe-b956-56e86f4ea12c" config-ref="HTTP_Listener_config" path="/users/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="d2fbc16e-61aa-4616-a02c-b07d2a4ac792" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="bc709d3c-dc65-41a1-8b17-ae46351a484a" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="75c082aa-19f5-42c4-b39d-a0fefaf5f76c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"uid": 1212
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7999a087-c9f6-4997-baac-bb69ed83ae88" message="#[payload]"/>
	</flow>
	<flow name="Categories" doc:id="28c6ecf6-35b0-45cc-a3c8-323166ff1d4e" >
		<http:listener doc:name="Listener" doc:id="843e5b11-5bec-4672-9c2a-6076a52580c2" config-ref="HTTP_Listener_config" path="/Categories"/>
		<ee:transform doc:name="Transform Message" doc:id="53756a07-abd0-4111-a4a4-4ea890c1fabf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "categoryid": 12,
    "name": "electronics"
  }
	
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a3af8ee0-a038-4f9a-8073-71cf8833786f" message="#[payload]"/>
	</flow>
	<flow name="Categoryid" doc:id="b50b9d3e-6a26-414f-8885-2947e09fd0cb" >
		<http:listener doc:name="Listener" doc:id="ff88b1e6-c526-4962-b834-b0d9b1b172f9" config-ref="HTTP_Listener_config" path="/Categories/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="6b879bf7-4e38-4222-84e8-2bff46776f64" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="d80775cc-d963-4e72-befc-4a8b17e31b42" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="0e4975b2-3905-4165-85aa-f6eea5a20906" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "categoryid": 110,
  "name": "labtop"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="80be00db-8f52-45d2-8b4b-1e72f0cec339" message="#[payload]"/>
	</flow>
	<flow name="Orders" doc:id="2bc4c709-ec1e-4a7d-8620-63b4af2ff049" >
		<http:listener doc:name="Listener" doc:id="d329374d-2e9b-40c4-9f74-29af7f53492e" config-ref="HTTP_Listener_config" path="/Orders"/>
		<ee:transform doc:name="Transform Message" doc:id="f018eb52-216f-4c3f-b253-cd14cfa4e7fc" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
{
  "orderid": 128,
  "userid": 1019,
  "addressid": 201,
  "discountid": 1,
  "created": "2020-05-27T23:18:46.000+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
 }
 
 ]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="712a4f36-3e88-4625-870e-5deb96aea1e1" message="#[payload]"/>
	</flow>
	<flow name="ordersid" doc:id="cf16dd8a-04c1-4a80-afd9-980e1aa5da53" >
		<http:listener doc:name="Listener" doc:id="c5ff50ff-8a90-43e9-a736-91c804556a55" config-ref="HTTP_Listener_config" path="/orders/{id}"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="d7ebf2be-f2f9-4ef7-aef7-434ca934f926" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="8d024a3e-9636-4c31-98e7-6efc0527d298" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="f257abe5-3136-4a8c-bda7-46f839d05dac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  "orderid":123,
  "userid": 101,
  "addressid": 21,
  "discountid": 11,
  "created": "2020-05-27T23:18:46.000+00:00",
  "modified": null,
  "status": "Accepted",
  "amount": 1000
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d2e1cdf8-d51a-499a-afcf-d4bbb8aed080" message="#[payload]"/>
	</flow>
</mule>
