quiz.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="db13812a-6e01-4645-a352-f769ce4ab26a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="56658647-ac46-44ad-b03d-b58c1f74a26d" >
		<db:my-sql-connection host="dev.icraftsoft.net" port="3306" user="trainee" password="shoppingCl@55" database="craftshopping" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="ed42bcc9-aa43-49b5-8894-83a291d683f6" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="example" />
	</db:config>
	<flow name="q1" doc:id="fa5d3180-fa03-46e1-ab8f-fe47edc04bed" >
		<http:listener doc:name="Listener" doc:id="e8230092-d361-48a3-966a-a374a29b3031" config-ref="HTTP_Listener_config" path="/read"/>
		<db:select doc:name="Select" doc:id="e3f460d7-925a-4ba3-9e5c-c0ab8a11d40d" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from products;]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3f7795c6-fd1d-405d-80ae-628758564cd2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload filter $.price >5000 map (value, index)-> {
	productid: value.productid,
	categoryid: value.productid,
	name: value.name,
	description : value.description,
	video_url: value.video_url,
	price: value.price
	
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="9ecc40a2-87be-4c76-b748-bd06634707b4" config-ref="Database_Config1">
			<db:sql ><![CDATA[insert into `products` (`productid`, `categoryid`, `name`, `description`, `video_url`, `price`) value (:productid, :categoryid, :name, :description, :video_url, :price);
]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="1d8759ad-a382-449e-b8b4-85ebe3f822b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
message: "done"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="q2" doc:id="6c223304-4637-478e-bf95-3b65b7827766" >
		<http:listener doc:name="Listener" doc:id="45065e33-b905-458e-9779-db7058c8db3c" config-ref="HTTP_Listener_config" path="/pr"/>
		<choice doc:name="Choice" doc:id="f9f46a74-ac94-4d6e-b053-bfb43d49cdd1" >
			<when expression='#[attributes.queryParams.web == "products"]'>
				<db:select doc:name="Select" doc:id="9af23209-d3ad-42db-8b7f-3eb84f3c7c79" config-ref="Database_Config">
					<db:sql ><![CDATA[select * from products;]]></db:sql>
				</db:select>
			</when>
			<when expression='#[attributes.queryParams.web == "users"]'>
				<db:select doc:name="Select" doc:id="0b185d9e-1685-4866-a069-0f460554416b" config-ref="Database_Config">
					<db:sql><![CDATA[select * from users;]]></db:sql>
				</db:select>
			</when>
			<otherwise>
				<set-payload value="wrong input" doc:name="Set Payload" doc:id="9f0f5441-6a73-4084-837c-cdf6ec687401" />
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="6ff1c5c6-a4aa-4a37-af24-a4836e4616db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
<flow name="Q3" doc:id="60fce894-4c68-416d-b8ec-5c0a80541149" >
<http:listener doc:name="Listener" doc:id="6d5dd383-4a44-45ef-9deb-57636a5dd9b4" config-ref="HTTP_Listener_config" path="/q3"/>
<db:select doc:name="Select" doc:id="a38fb394-c42a-4739-9956-d152d5d10dd3" config-ref="Database_Config">
<db:sql ><![CDATA[select * from orders;]]></db:sql>
</db:select>
		<ee:transform doc:name="Transform Message" doc:id="25a69679-1bed-46a2-97f8-a102db2e91ba" >
<ee:message >
<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map {
  amount: $.amount,
orderid: $.orderid,
userid: $.userid,
addressid: $.addressid,
discountid: $.discountid,
created: $.created,
modified: $.modified,
status: $.status
} 
  groupBy $.status ]]></ee:set-payload>
</ee:message>
<ee:variables >
<ee:set-variable variableName="lessthan" ><![CDATA[%dw 2.0
output application/json
---
payload map {
  amount: $.amount,
orderid: $.orderid,
userid: $.userid,
addressid: $.addressid,
discountid: $.discountid,
created: $.created,
modified: $.modified,
status: $.status
} 
  filter $.amount < 5000
  groupBy $.status ]]></ee:set-variable>
<ee:set-variable variableName="greaterthan" ><![CDATA[%dw 2.0
output application/json
---
payload map {
  amount: $.amount,
orderid: $.orderid,
userid: $.userid,
addressid: $.addressid,
discountid: $.discountid,
created: $.created,
modified: $.modified,
status: $.status
} 
  filter $.amount >5000
  groupBy $.status ]]></ee:set-variable>
</ee:variables>
</ee:transform>
<file:write doc:name="Write" doc:id="4bd4e64f-cf29-48bc-95f0-4c2047d22a44" path="C:\Users\Bini\Desktop\quiz\orders\less.txt" mode="APPEND">
<file:content ><![CDATA[#[vars.lessthan]]]></file:content>
</file:write>
<file:write doc:name="Write" doc:id="09060f4f-ee40-4697-b2b0-1501f53cdf37" path="C:\Users\Bini\Desktop\quiz\orders\great.txt" mode="APPEND">
<file:content ><![CDATA[#[vars.greaterthan]]]></file:content>
</file:write>
</flow>
	<flow name="q4" doc:id="d6a25eb7-2c9a-4424-8d45-2dab52430664" >
		<http:listener doc:name="Listener" doc:id="3579c3e1-394c-4d35-8e6d-d709e35b8073" config-ref="HTTP_Listener_config" path="/ifelse"/>
		<choice doc:name="Choice" doc:id="963a48ff-44dc-4180-b2e5-a3c6c4673314" >
			<when expression="#[attributes.queryParams.num == '1']">
				<set-payload value="num is 1" doc:name="Set Payload" doc:id="e8a1e49a-4ca5-43ad-b975-5b2434ada08f" />
			</when>
			<when expression="#[attributes.queryParams.num == '10']">
				<set-payload value="num is 10" doc:name="Set Payload" doc:id="995bb818-e19f-4b2d-bd0a-e85d3c53263f" />
			</when>
			<when expression="#[attributes.queryParams.num &gt; 10]">
				<set-payload doc:name="Set Payload" doc:id="b747021c-92bd-4179-90da-960108f10889" value="num is greater than 10"/>
			</when>
			<otherwise >
				<set-payload value="num is less than 10" doc:name="Set Payload" doc:id="e0b7772f-3e63-4658-9623-267d1033b189" />
			</otherwise>
		</choice>
	</flow>
</mule>
