online-shopping/src/main/mule/online-shopping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="OnlineShopping_HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="65f92615-17c2-4c39-a999-ce5c2738c892" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
	<flow name="getAllroducts" doc:id="c97b5d86-5bc8-4544-89c2-152994572319" >
		<http:listener doc:name="GET /products" doc:id="0cb9d332-7d65-4131-8157-7013b388e3e5" config-ref="OnlineShopping_HTTP_Listener_config" path="/products" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="a3ad50c9-4666-4da6-a968-fe8e67f35f66" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "categoryid": 0,
    "description": "laptop",
    "name": "HP laptop",
    "price": 0,
    "productid": 0,
    "video_url": "http://hp.com/latops"
  },
    {
    "categoryid": 1,
    "description": "laptop",
    "name": "DELL laptop",
    "price": 0,
    "productid": 101,
    "video_url": "http://dell.com/latops"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ed3098b9-6406-4e48-9450-c5f688a4b82a" message="#[payload]"/>
	</flow>
	
		<flow name="getProductByID" doc:id="98dea106-2431-4f3f-8008-ca27fc6ae20a" >
		<http:listener doc:name="GET /products/{id}" doc:id="2e740909-0b4a-45c8-83fd-0b90a37c112e" config-ref="OnlineShopping_HTTP_Listener_config" path="/products/{id}" allowedMethods="GET"/>
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable" doc:id="c9d9474c-2a3f-4848-b740-01e43d37872b" variableName="id"/>
		<logger level="INFO" doc:name="Logger" doc:id="e636b1cf-3751-42fc-affc-eacfb6a0a232" message="#[vars.id]"/>
		<ee:transform doc:name="Transform Message" doc:id="8055792b-c450-468c-983d-d94cf969893d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 {
    "categoryid": 0,
"description": "laptop",
"name": "HP laptop",
"price": 0,
"productid": 0,
"video_url": "http://hp.com/latops"
  }
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="795b727b-b62d-4b53-be7a-af8deafa3af2" message="#[payload]"/>
	</flow>
	
	<flow name="getAllUsers" doc:id="c2a615c1-e1bd-4f93-afb0-5c7a45c2cb9e" >
		<http:listener doc:name="GET /users" doc:id="15257007-6608-40a8-b924-787218f9fdc1" config-ref="OnlineShopping_HTTP_Listener_config" path="/users" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="18ecd0b9-e070-4de3-a666-b9130f852cde" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "date_joined": "05/13/79",
    "deleted": "true",
    "email": "anteneh@gmail.com",
    "modified": "05/05/2017" ,
    "type": 1,
    "userid": 132,
    "username": "ante123"
  },
  {
    "date_joined": "05/13/79",
    "deleted": "true",
    "email": "hiwi@gmail.com",
    "modified": "05/05/2017",
    "type": 2,
    "userid": 342,
    "username": "fayz32"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6859e4fb-4574-4c1b-badf-da5a0d0ef917" message="#[payload]"/>
	</flow>

    <flow name="postUser" doc:id="5572b9f4-eb0c-445d-9327-a2542d8f681c">
		<http:listener doc:name="POST /users" doc:id="4c37ca7d-2ad0-45a3-96ff-5036c1796828" config-ref="OnlineShopping_HTTP_Listener_config" path="/users" allowedMethods="POST" />
		<set-variable value="#[payload]" doc:name="postUser" doc:id="0a895397-d08d-4d61-8718-d1c488aa1c73" variableName="postUser"/>
		<logger level="INFO" doc:name="Logger" doc:id="a7b0fd9b-3265-4a41-9e74-c108a657259b" message="#[vars.postUser]"/>
		<ee:transform doc:name="Transform Message" doc:id="8d422e01-5b6d-4c91-bb08-c996539d3502">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"uid": 342
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="449f8d98-1a30-44a8-b8f9-9b7482a6e659" message="#[payload]" />
	</flow>
	<flow name="getUserByID" doc:id="dc58d81e-35cb-4765-8f5a-2971cf8f6074" >
		<http:listener doc:name="GET /users/{id}" doc:id="e63948a7-67fe-48e6-b7d2-b83cbac1d108" config-ref="OnlineShopping_HTTP_Listener_config" path="/users/{id}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="1761f76d-5b84-4885-a6a4-8636503b3136" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
  {
    "date_joined": "05/13/79",
    "deleted": "true",
    "email": "ade135@gmail.com",
    "modified": "05/05/2017" ,
    "type": 1,
    "userid": 132,
    "username": "ade123"
  }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7b601208-df0a-48a9-8b42-bfc7f9bed6e5" message="#[attributes.uriParams.id]"/>
    </flow>
	<flow name="getAllOrders" doc:id="d02af8c7-c583-4a0a-b5d6-f3390ec1849c" >
		<http:listener doc:name="GET /orders" doc:id="31a0b43c-d4c7-41bc-b084-c9281de84e9f" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="f1e54edf-32e9-4e89-b4ac-cd38036c6d5e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "addressid": 132,
    "amount": 340,
    "created": "05/23/20",
    "discountid": 5,
    "modified": "04/12/19",
    "orderid": 44,
    "status": "accepted",
    "userid": 1219
  },
  {
    "addressid": 132,
    "amount": 340,
    "created": "05/23/20",
    "discountid": 5,
    "modified": "04/12/19",
    "orderid": 44,
    "status": "accepted",
    "userid": 1219
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a2483113-4abf-4168-abdb-80a15d3ad457" message="#[payload]"/>
	</flow>
	<flow name="postOrder" doc:id="7779c76f-2924-4a62-95e9-1aa98e892f70">
		<http:listener doc:name="POST /orders" doc:id="a64957e6-c658-4476-9c92-6dc8e1d6837a" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders" allowedMethods="POST" />
		<set-variable value="#[payload]" doc:name="postOrder" doc:id="0aad533c-1d2e-4ca6-bf81-01437f3f5f0d" variableName="postOrder"/>
		<logger level="INFO" doc:name="Logger" doc:id="fc806eee-7fd2-4679-9929-8674b61ae7e6" message="#[vars.postOrder]"/>
		<ee:transform doc:name="Transform Message" doc:id="2f810102-af5a-4f5a-abe7-11c9f8f5a00e">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    "addressid": 132,
    "amount": 340,
    "created": "05/23/20",
    "discountid": 5,
    "modified": "04/12/19",
    "orderid": 44,
    "status": "accepted",
    "userid": 1219
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d91778cf-d029-427b-9ad8-c07a7c59739e" message="#[payload]" />
	</flow>
	<flow name="getOrdersByID" doc:id="b0b81dad-6818-47be-896b-c5bf6835fbaf" >
		<http:listener doc:name="GET /orders/{id}" doc:id="a01a905e-cbe1-4139-9695-75f0bdd1874f" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders/{id}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="9e27fbcc-d23a-461a-9067-8092082ef94c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 {
    "addressid": 132,
    "amount": 340,
    "created": "05/23/20",
    "discountid": 5,
    "modified": "04/12/19",
    "orderid": 44,
    "status": "accepted",
    "userid": 1219
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e982948a-164e-4183-9088-fa9ae406e7ac" message="#[payload]" />
	</flow>
	<flow name="getAllCategories" doc:id="1e78f34e-bd28-4f68-a603-f819512661db" >
		<http:listener doc:name="GET /categories" doc:id="89b91b9c-be79-42df-b86d-b49605e8a6fb" config-ref="OnlineShopping_HTTP_Listener_config" allowedMethods="GET" path="/categories"/>
		<ee:transform doc:name="Transform Message" doc:id="94c80c35-d23c-4fa3-bc6b-917c67e70b9e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[
  {
    "categoryid": 23,
    "name": "Accessories"
  },
 {
    "categoryid": 44,
    "name": "Clothing"
  }
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9bb19805-6c99-484e-8fc0-f0f590e9a0a2" message="#[payload]"/>
	</flow>
	<flow name="getCategoryByID" doc:id="529a329c-a92a-4f31-a0d8-b1ecfcece009" >
		<http:listener doc:name="GET /categories/{id}" doc:id="981b0407-ea57-4bc8-9fb4-6d7842b27f78" config-ref="OnlineShopping_HTTP_Listener_config" path="/categories/{id}" allowedMethods="GET" />
		<ee:transform doc:name="Transform Message" doc:id="4f138b97-f354-463c-8422-a219d8302489" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
 {
    "categoryid": 23,
    "name": "Accessories"
 }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c8ceb730-7132-4abd-9ede-a3cc10fbcbce" message="#[payload]" />
	</flow>

</mule>