online-shopping/src/main/mule/online-shopping.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	
	<flow name="getAllProducts" doc:id="c97b5d86-5bc8-4544-89c2-152994572319" >
		<http:listener doc:name="GET /products" doc:id="0cb9d332-7d65-4131-8157-7013b388e3e5" config-ref="OnlineShopping_HTTP_Listener_config" path="/products" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="a3ad50c9-4666-4da6-a968-fe8e67f35f66" >
			<ee:message >
				<ee:set-payload resource="products.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ed3098b9-6406-4e48-9450-c5f688a4b82a" message="#[payload]"/>
	</flow>
	
		<flow name="getProductByID" doc:id="98dea106-2431-4f3f-8008-ca27fc6ae20a" >
		<http:listener doc:name="GET /products/{id}" doc:id="2e740909-0b4a-45c8-83fd-0b90a37c112e" config-ref="OnlineShopping_HTTP_Listener_config" path="/products/{id}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="8055792b-c450-468c-983d-d94cf969893d">
			<ee:message>
				<ee:set-payload resource="product.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="795b727b-b62d-4b53-be7a-af8deafa3af2" message="#[payload]" />
	
</flow>
	
	<flow name="getAllUsers" doc:id="c2a615c1-e1bd-4f93-afb0-5c7a45c2cb9e" >
		<http:listener doc:name="GET /users" doc:id="15257007-6608-40a8-b924-787218f9fdc1" config-ref="OnlineShopping_HTTP_Listener_config" path="/users" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="18ecd0b9-e070-4de3-a666-b9130f852cde" >
			<ee:message >
				<ee:set-payload resource="users.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="6859e4fb-4574-4c1b-badf-da5a0d0ef917" message="#[payload]"/>
	</flow>

    <flow name="postUser" doc:id="5572b9f4-eb0c-445d-9327-a2542d8f681c">
		<http:listener doc:name="POST /users" doc:id="4c37ca7d-2ad0-45a3-96ff-5036c1796828" config-ref="OnlineShopping_HTTP_Listener_config" path="/users" allowedMethods="POST" />
		<ee:transform doc:name="Transform Message" doc:id="8d422e01-5b6d-4c91-bb08-c996539d3502">
			<ee:message>
				<ee:set-payload resource="postUser.dwl" />
			
</ee:message>
			<ee:variables >
				<ee:set-variable resource="postUser.dwl" variableName="postUser" />
			</ee:variables>
		
</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="449f8d98-1a30-44a8-b8f9-9b7482a6e659" message="#[vars.postUser]" />
	</flow>
	<flow name="getUserByID" doc:id="dc58d81e-35cb-4765-8f5a-2971cf8f6074" >
		<http:listener doc:name="GET /users/{id}" doc:id="e63948a7-67fe-48e6-b7d2-b83cbac1d108" config-ref="OnlineShopping_HTTP_Listener_config" path="/users/{id}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="1761f76d-5b84-4885-a6a4-8636503b3136" >
			<ee:message >
				<ee:set-payload resource="user.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7b601208-df0a-48a9-8b42-bfc7f9bed6e5" message="#[attributes.uriParams.id]"/>
    </flow>
	<flow name="getAllOrders" doc:id="d02af8c7-c583-4a0a-b5d6-f3390ec1849c" >
		<http:listener doc:name="GET /orders" doc:id="31a0b43c-d4c7-41bc-b084-c9281de84e9f" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="f1e54edf-32e9-4e89-b4ac-cd38036c6d5e" >
			<ee:message >
				<ee:set-payload resource="orders.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a2483113-4abf-4168-abdb-80a15d3ad457" message="#[payload]"/>
	</flow>
	<flow name="postOrder" doc:id="7779c76f-2924-4a62-95e9-1aa98e892f70">
		<http:listener doc:name="POST /orders" doc:id="a64957e6-c658-4476-9c92-6dc8e1d6837a" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders" allowedMethods="POST" />
		<ee:transform doc:name="Transform Message" doc:id="2f810102-af5a-4f5a-abe7-11c9f8f5a00e">
			<ee:message>
				<ee:set-payload resource="postOrder.dwl" />
			
</ee:message>
			<ee:variables >
				<ee:set-variable resource="postOrder.dwl" variableName="postOrder" />
			</ee:variables>
		
</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="d91778cf-d029-427b-9ad8-c07a7c59739e" message="#[vars.postOrder]" />
	</flow>
	<flow name="getOrderByID" doc:id="b0b81dad-6818-47be-896b-c5bf6835fbaf" >
		<http:listener doc:name="GET /orders/{id}" doc:id="a01a905e-cbe1-4139-9695-75f0bdd1874f" config-ref="OnlineShopping_HTTP_Listener_config" path="/orders/{id}" allowedMethods="GET"/>
		<ee:transform doc:name="Transform Message" doc:id="9e27fbcc-d23a-461a-9067-8092082ef94c" >
			<ee:message >
				<ee:set-payload resource="order.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e982948a-164e-4183-9088-fa9ae406e7ac" message="#[payload]" />
	</flow>
	<flow name="getAllCategories" doc:id="1e78f34e-bd28-4f68-a603-f819512661db" >
		<http:listener doc:name="GET /categories" doc:id="89b91b9c-be79-42df-b86d-b49605e8a6fb" config-ref="OnlineShopping_HTTP_Listener_config" allowedMethods="GET" path="/categories"/>
		<ee:transform doc:name="Transform Message" doc:id="94c80c35-d23c-4fa3-bc6b-917c67e70b9e" >
			<ee:message >
				<ee:set-payload resource="categories.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="9bb19805-6c99-484e-8fc0-f0f590e9a0a2" message="#[payload]"/>
	</flow>
	<flow name="getCatagoryByID" doc:id="529a329c-a92a-4f31-a0d8-b1ecfcece009" >
		<http:listener doc:name="GET /categories/{id}" doc:id="981b0407-ea57-4bc8-9fb4-6d7842b27f78" config-ref="OnlineShopping_HTTP_Listener_config" path="/categories/{id}" allowedMethods="GET" />
		<ee:transform doc:name="Transform Message" doc:id="4f138b97-f354-463c-8422-a219d8302489" >
			<ee:message >
				<ee:set-payload resource="catagory.dwl" />
			
</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="c8ceb730-7132-4abd-9ede-a3cc10fbcbce" message="#[payload]" />
	</flow>

</mule>