addtwonumbers/src/main/mule/addtwonumbers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bdc0b7b1-12bd-4de4-8135-b0118892a65f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="8d298848-da0b-4e66-a62e-ee9593152504" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator/" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="addtwonumbersFlow" doc:id="8330a0f9-8dcd-4d81-b8ee-b5cb8ad1ac03" >
		<http:listener doc:name="Listener" doc:id="7f90fd2a-2812-4e4f-897a-097b6ca9767e" path="/addtwonumbers" config-ref="HTTP_Listener_config" allowedMethods="GET"/>
		<set-variable value="#[attributes.queryParams.number1]" doc:name="Set Variable" doc:id="124a1da4-e45e-40a6-a509-04132b041227" variableName="var1"/>
		<set-variable value="#[attributes.queryParams.number2]" doc:name="Set Variable" doc:id="b7d24e8a-1e79-4f9c-9d3a-3d834ee607d5" variableName="var2"/>
		<ee:transform doc:name="Transform Message" doc:id="0eeea239-8467-43ca-bdfc-9d1df658edf5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: vars.var1 as Number,
		ns0#intB: vars.var2 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:id="1cd67c04-857e-4ced-8318-e4caecd05ad3" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="93da2e99-cf38-435e-a69a-811acdf449e5" message="#[payload.body.AddResponse.AddResult]"/>
	</flow>
</mule>
